*{
    margin: 0px;
    padding: 0;
}

header{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

img#principal{
    height: 200px;
    margin: 20px;
    border-radius: 50%;
}

img#dois{
    width: 200px;
    margin: 30px;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: aquamarine;
    height: 100%;
    list-style: none;
}

li{
    color: aliceblue;
    font-weight: bolder;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

li:hover{
    background-color: bisque;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;

}

footer{
    position: flex;
    bottom: 0px;
    background-color: chocolate;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    font-weight: bolder;
    color: white;
}